body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
body {
  margin: 0;
}
a {
  color: #757575;
}
.nav-bar {
  margin-top: 15px;
  position: relative;
  height: 50px;
  background: #f5f5f5;
  color: #616161;
}
.title {
  float: left;
  margin: 10px 0 0 0;
}
.title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #424242;
}
.nav {
  float: right;
  margin: 10px 0 0 0;
}
.nav .nav-switch {
  margin-right: 10px;
  line-height: 30px;
}
.nav .buyBtn {
  background: #ff6700;
  color: #fff;
  vertical-align: bottom;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  margin: 0;
  border: 1px solid #b0b0b0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.nav-bar.fix-bar {
  width: 100%;
  margin-top: -52px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  box-shadow: 0 0 3px #555;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: margin-top 0.5s ease-out;
  color: #fff;
}
.nav-bar.fix-bar h2 {
  color: #fff;
}
.nav-bar.fix-bar .nav-switch a {
  color: #fff;
}
.nav-bar.fix-bar.active {
  margin-top: 0px;
}
.content_header {
  height: 204px;
}
#fullpage.active {
  margin-top: -52px;
}
.section_banner {
  background: url(../Images_MIX/index-bg1.jpg) center center;
  background-size: cover;
  transition: background 1s linear 1s;
}
.section_banner.in {
  background: url(../Images_MIX/index-bg2-s.jpg) center center;
  background-size: cover;
}
.section_banner .container {
  position: absolute;
  right: 6.73611%;
  text-align: right;
  width: 500px;
  z-index: 3;
  top: 20%;
}
.section_banner .container h1 {
  opacity: 0;
  height: 36px;
  background: url("../Images_MIX/index-title-s.png") right 0 no-repeat;
}
.section_banner .container h1.active {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
  transform: translate3d(0px, -20px, 0px);
}
.section_banner .container h2 {
  color: #fff;
  opacity: 0;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 5px;
  margin-right: -6px;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
}
.section_banner .container h2.active {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.1s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.1s;
  transform: translate3d(0px, -20px, 0px);
}
.section_banner .container ul {
  opacity: 0;
  margin-top: 20px;
  width: 100%;
  color: #fff;
}
.section_banner .container ul li {
  float: right;
  margin-left: 24px;
  list-style: none;
}
.section_banner .container ul li span {
  font-size: 26px;
  display: block;
  line-height: 1;
}
.section_banner .container ul li .specs {
  font-size: 12px;
  line-height: 20px;
  width: 80px;
  border: 1px solid #fff;
  margin-top: 5px;
  text-align: center;
}
.section_banner .container ul.active {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.3s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.3s;
  transform: translate3d(0px, -20px, 0px);
}
.section_screen {
  background: url(../Images_MIX/future-bg.jpg) center center;
  background-size: cover;
}
.section_screen .container {
  top: -10%;
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
}
.section_screen .container h2 {
  font-size: 30px;
  line-height: 42px;
  opacity: 0;
  margin: 0 auto 24px;
  letter-spacing: 5px;
  font-weight: normal;
}
.section_screen .container h2.active {
  transform: translate3d(0px, -20px, 0px);
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}
.section_screen .container p {
  opacity: 0;
  font-size: 14px;
  line-height: 24px;
}
.section_screen .container p.active {
  transform: translate3d(0px, -20px, 0px);
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}
.section_video {
  background-color: #000;
}
