/*********************导航与banner**********/
/*商品导航*/

#banner{
	position: relative;
}
.shopping_nav{
	width: 234px;
	height: 420px;
	min-height: 300px;
	background: rgba(0,0,0,0.6);
	float: left;
	padding: 20px 0;
	position: relative;
	z-index: 10;

}

.shopping_nav li a{
	color: #fff;
	height: 42px;
	display: block;
	padding-left: 30px;
	font-size: 14px;
	line-height: 42px;
	background: url(Images/my_list_01.png)no-repeat 196px -65px;
}
.shopping_banner img{
	/*position: absolute;
	top: 140px;
	left: 23px;
	z-index: 2;*/
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

}

/*快速服务通道*/

.sub_service{
	float: left;
	width: 234px;
	height: 170px;
	background-color: #5f5750;
}

.sub_service li{
	width: 64px;
	
	float: left;

}
.sub_service a{
	display: block;
	width: 64px;
	height: 64px;
	color:rgba(255,255,255,0.7);
	text-align: center;
	line-height:88px;
}

.active_AD{
	float: left;

}
.active_AD img{
	height: 170px;
	width: 316px;
	padding-left: 15px;
}
.active_AD img:first-child{
	
	padding-left: 12px;
}

.arrow_button{
	float: right;
}





#star h2{
	font-size: 22px;
	font-weight: normal;
	float: left;
}

.star_t a{
	float: right;
	width: 71px;
	height: 24px;
	background: url(Images/my_list_01.png)no-repeat 0px -144px;
}
.star_product{
	margin-top: 20px;
	float: left;

}

.star_product ul li{
	height: 340px;
	background-color: #FAFAFA;
	float: left;
	width: 234px;
	margin-right: 14px;
}
.star_product ul li:last-child{
	
	margin-right: 0px;
}
.star_product ul li:nth-child(1){
	border-top: 1px solid orange;
}
.star_product ul li:nth-child(2){
	border-top: 1px solid #83C450;
}

.star_product ul li:nth-child(3){
	border-top: 1px solid blue;
}

.star_product ul li:nth-child(4){
	border-top: 1px solid red;
}

.star_product ul li:nth-child(5){
	border-top: 1px solid #00C0A5;
}




.star_product img{
	height: 160px;
	width: 160px;
	padding-top: 33px;
	padding-right: 34px;
	padding-left: 40px;
	margin-bottom: 10px;

}
.title {
	display: block;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 14px;
}
.desc{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #ddd;
	font-size: 12px;

}
.price{
	display: block;
	text-align: center;
	font-style: normal;
	color: #FF6700; 
	font-size: 14px;
}


/****************主体********************/
/*智能硬件*/

.main_t{
	height: 40px;
	padding-top: 50px;
}

.main_t h2{
	font-size: 22px;
	font-weight: normal;
	float: left;
}

.main_t div{
	float: right;
	line-height: 20px;
	height: 20px;
	float: right;
	padding-right: 30px;
	background: url(Images/my_list_01.png)no-repeat 50px -200px;
}
.more{
	float: right;
}
.more li{
	float: left;
	line-height: 29px;
	font-size: 16px;
	margin-right: 30px;
}
.more li:last-child{
	margin-right: 0;
}
.left_product{
	float: left;
}
/*.left_product img{
	float: left;
}*/
.left_product.two{
	width: 234px;
}
.left_product.two img{
	height: 300px;
	width: 234px;
	padding-bottom: 14px;
} 


.right_product img{
	vertical-align: center;
	width: 160px;
	height: 160px;
	margin-left: 37px;
}

.right_product {
	height: 300px;
	margin-bottom: 14px;
	margin-left: 14px;
}
.right_product li{
	padding: 20px 0;
	background-color: #fff;
	float: left;
	height: 260px;
	width: 234px;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
}
.right_product.min{
	height:142px; 
	width:234px;
	padding: 0;
}
.right_product.min a{
	 height: 142px;
	 width: 234px;
	 display: block;
}
.right_product.min img{
	height:80px; 
	width:80px;
	margin-left: 0px;
	padding-right: 20px;
	float: right;
	padding-top: 35px;
}
.right_product.min p{
	overflow: hidden;
	width: 91px;
	height: 24px;
	padding-left: 35px;
}

.right_product.min p:nth-child(2){
 	padding-top: 50px;
	color: #000;
}
.right_product.min p:nth-child(3){
	color: #ff6700;
}
.right_product.min.more img{
	width: 48px;
	height: 48px;
	padding-right: 40px;
	padding-top: 52px;
}
.right_product.min.more p:last-child{
	color: #000;
	font-size: 16px;
}

/*为您推荐*/
.right_product.promote{
	height: 388px;
	margin: 0px;
}
.right_product.promote>ul>li:first-child{
	margin: 0px;
}
/*热门评论*/
.hot{
	font-size: 14px;

}
.hot li{
	width: 296px;
	background-color: #fff;
	padding-bottom: 30px;
	float: left;
	padding-right: 14px;
}
.hot li:last-child{
	padding-right: 0px;
}
.hot li>a>p{
	padding-top: 10px;
	display: block;
	line-height: 27px;
	width: 240px;
	height: 70px;
	text-overflow:ellipsis; 
	overflow:hidden;
	color: #000;
 	margin: 0 auto;
}
.hot ul div{
	padding-left: 28px;
	color: #000;
}
.hot ul div>p{
	font-size: 14px;
	display: inline-block;
	color: #000;
}
.hot ul div>p~p{
	font-size: 14px;
	display: inline-block;
	color: #ff6700;
}

.hot img{
	width: 296px;
	height: 220px;
	float: left;
}
.hot span{
	float: left;
	width: 256px;
	color: #b0b0b0;
	font-size: 12px;
	padding-bottom: 18px;
	padding-left: 28px;
}
.flag{
	background-color: #FFAC13;
	width:60px;
	color: #fff;
	text-align: center;
	height: 20px;
	line-height: 20px;
	position:absolute;
	top: 0px;
	left: 50%;
	margin-left: -28px;
}
.flag.blue{
	background-color: #2196f3;
}
.flag.green{
	background-color: #83c44e;
}
