/*测试样式 添加边框*/
/*#top,#banner,#main,#footer{
	border:1px solid #000;
}*/
/*通用样式*/
body{
	font: 12px "microsoft yahei",Arial,Helvetica,sans-serif;
	color:#000;
	margin: 0px;
	padding: 0px;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #00a1d6;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
img{
	vertical-align:middle;
}


/*整体布局*/
#top,#banner,#main_product,#footer,#sub,#star{
	width: 1226px;
	margin: 0 auto;
}



/*清除浮动*/
/*#top:after,#banner:after,#main:after,#footer:after,.nav:after,#sub:after,#star:after#{
	content: "";
	display: block;
	clear: both;
}*/

#top{
	height: 140px;
}
#banner{
	height: 480px;
}

#main{
	height: 4614px;
	background-color: #FAFAFA;
	width: 100%;
}
#footer{
	height: 438px;
}
#sub{
	height: 210px;
}
#star{
	height: 425px;
}


/******************  页面顶部     ************************/
.top_bar{
	height: 40px;
	width: 100%;
	background-color: #333333;
}
.top_bar_item{
	float: left;
	height: 40px;
}
.top_bar_item ul li,.top_bar_user ul li{
	float: left;
}
.top_bar_item ul li a,.top_bar_user ul li a{
	color: #b0b0b0;
	line-height: 40px;
	padding: 0 10px 0 10px;
}
.top_bar_item span,.top_bar_user span{
	color: #424242;
	padding: 0 5px 0 5px;
	float: left;
	line-height: 40px;
}
.top_bar_user{
	float: right;
}
.buycart{
	padding-left: 20px;
	background: url(Images/my_list_01.png) no-repeat 4px 14px;
	background-color: #424242;
}

.top_bar a:hover{
	 color: #fff;
}
/*商城导航*/
#top_box{
	height: 100px;
}


.logo img{
	margin-top: 23px;
	float: left;
}
/*导航*/
.mall_nav{
	height: 100px;
	float: left;
	margin-left: 180px;
}
.mall_nav li{
	float: left;
}
.mall_nav li a {
	padding: 0 12px;
	font-size: 16px;
	line-height: 100px;
}


/*搜素*/
.search{
	float: right;
	margin-top: 23px;
}
.search input:first-child{
	height: 52px;
	width: 52px;
	background-color:#fff;
	border: 1px solid #ddd;
	border-left: none;
	margin:0;
	padding:0;
	background: url(Images/my_list_01.png)no-repeat 16px -25px;
	float: right;

}
.search input:last-child{
	height:50px;
	width:240px;
	border:1px solid #ddd;
	padding: 0;
	margin: 0;
	border-right:none;
	float: right;
	outline: 0;	

}

/*********************导航与banner**********/
/*商品导航*/

#banner{
	position: relative;
}
.shopping_nav{
	width: 234px;
	height: 420px;
	min-height: 300px;
	background: rgba(0,0,0,0.6);
	float: left;
	padding: 20px 0;
	position: relative;
	z-index: 10;

}

.shopping_nav li a{
	color: #fff;
	height: 42px;
	display: block;
	padding-left: 30px;
	font-size: 14px;
	line-height: 42px;
	background: url(Images/my_list_01.png)no-repeat 196px -65px;
}
.shopping_banner img{
	/*position: absolute;
	top: 140px;
	left: 23px;
	z-index: 2;*/
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 2;

}

/*快速服务通道*/

.sub_service{
	float: left;
	width: 234px;
	height: 170px;
	background-color: #5f5750;
}

.sub_service li{
	width: 64px;
	
	float: left;

}
.sub_service a{
	display: block;
	width: 64px;
	height: 64px;
	color:rgba(255,255,255,0.7);
	text-align: center;
	line-height:88px;
}

.active_AD{
	float: left;

}
.active_AD img{
	height: 170px;
	width: 316px;
	padding-left: 15px;
}
.active_AD img:first-child{
	
	padding-left: 12px;
}

.arrow_button{
	float: right;
}





#star h2{
	font-size: 22px;
	font-weight: normal;
	float: left;
}

.star_t a{
	float: right;
	width: 71px;
	height: 24px;
	background: url(Images/my_list_01.png)no-repeat 0px -144px;
}
.star_product{
	margin-top: 20px;
	float: left;

}

.star_product ul li{
	height: 340px;
	background-color: #FAFAFA;
	float: left;
	width: 234px;
	margin-right: 14px;
}
.star_product ul li:last-child{
	
	margin-right: 0px;
}
.star_product ul li:nth-child(1){
	border-top: 1px solid orange;
}
.star_product ul li:nth-child(2){
	border-top: 1px solid #83C450;
}

.star_product ul li:nth-child(3){
	border-top: 1px solid blue;
}

.star_product ul li:nth-child(4){
	border-top: 1px solid red;
}

.star_product ul li:nth-child(5){
	border-top: 1px solid #00C0A5;
}




.star_product img{
	height: 160px;
	width: 160px;
	padding-top: 33px;
	padding-right: 34px;
	padding-left: 40px;
	margin-bottom: 10px;

}
.title {
	display: block;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 14px;
}
.desc{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #ddd;
	font-size: 12px;

}
.price{
	display: block;
	text-align: center;
	font-style: normal;
	color: #FF6700; 
	font-size: 14px;
}


/****************主体********************/
/*智能硬件*/

.main_t{
	height: 40px;
	padding-top: 50px;
}

.main_t h2{
	font-size: 22px;
	font-weight: normal;
	float: left;
}

.main_t div{
	float: right;
	line-height: 20px;
	height: 20px;
	float: right;
	padding-right: 30px;
	background: url(Images/my_list_01.png)no-repeat 50px -200px;
}


.left_product img{
	float: left;
}


.right_product img{
	vertical-align: center;
	width: 160px;
	height: 160px;
	margin-left: 37px;
}

.right_product {
	height: 300px;
	margin-bottom: 14px;
	margin-left: 14px;
}
.right_product li{
	padding: 20px 0;
	background-color: #fff;
	float: left;
	height: 260px;
	width: 234px;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
}
.flag{
	background-color: #FFAC13;
	width:60px;
	color: #fff;
	text-align: center;
	height: 20px;
	line-height: 20px;
	position:absolute;
	top: 0px;
	left: 50%;
	margin-left: -28px;
}

	